// primary colors
$dark-pink: #BA4270;
$water-white: #FBFCFE;

// secondary-colors
$san-juan-blue: #36536B;
$mirage-blue: #1B262F;
$charm-pink: #DA6D97; // this is for actives
$light-san-juan-blue: #6C8294;